.cert_header {
  background-color: #416863;
  min-height: 10rem;
}

.cert_title {
  color: #dadada;
  font-weight: 900;
  font-size: 2.5rem;
}

.fancy_header_1 {
  background-color: #4783B5;
}

.fancy_header_2 {
  background-color: #65C3A8;
}

.fancy_header_3 {
  background-color: #9265A8;
}

.color_bar {
  height: 0.5rem;
  width: 100%;
}

.fancy_font {
  font-size: 4rem;
  font-family: 'The Nautigal', cursive;
}

.print_cert_button,
.print_cert_button:visited {
  color: #fff;
  background-color: #3F74B8;
  border: 1px solid #F4F4F4;
  border-radius: 0.6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.print_cert_button:hover,
.print_cert_button:focus,
.print_cert_button:not(:disabled):not(:disabled):active {
  background-color: #3F74B8;
  transition-duration: 0.5s;
  transition-property: background-color;
}

.yes_print {
    display: none;
  }

/* Remove everything except the certificate when printing */
@media print {
  .no_print {
    display: none !important;
  }

  .yes_print {
    display: block !important;
  }
}
