* {
  font-family: 'Inter';
}

.form_width {
  width: 60% !important;
}

h2.login_header {
  margin-top: 3rem;
  font-size: 1.5rem;
}
button.login_button,
button.login_button:visited {
  background-color: #4783B5;
  color: #fff;
  font-weight: 400;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  transition-duration: 0.5s;
  transition-property: background-color;
}

button.login_button:hover,
button.login_button:focus,
button.login_button:not(:disabled):not(:disabled):active {
  background-color: #316692;
  transition-duration: 0.5s;
  transition-property: background-color;
}

a.forgot_pass_link {
  font-size: 0.9rem;
  text-decoration: none;
  color: #4783B5;
}

img.footer_img {
  object-fit: contain;

}

.fix_align {
  margin-bottom: -0.1rem;
}