.navbarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background: transparent;
  height: 4.5rem;
}

.navbarLogo {
  width: 7.75rem;
}

@media (max-width: 767.98px) {
  .navbarOverlay {
    background: rgba(6, 28, 23, 0.6);
  }

  .navbarLogo {
    width: 4rem;
  }
}
